html, body {
    margin: 0;
    font-family: monospace;
}

body {
    background: url('../assets/background.png');
    background-color: #3D357D;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#TodoApp {
    width: 500px;
    height: 85vh;
    background: #fff;
    border-radius: 6px;
    box-shadow: -60px 60px 60px rgba(4, 3, 49, 0.27);
}